.demo1{
    color:rgba(131, 5, 248, 0.751);
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}
.demo2{
    color: rgb(85, 121, 231);
    font-size: xx-large;
    font-family: cursive;
}
.demo3{
    color: rgb(115, 208, 251);
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}